<header class="header">
  <nav class="navbar">
    <div class="logo">
      <h1>Deepak Sinha</h1>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="#section2">About</a></li>
      <li><a href="#section4">Contact</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register" class="active">Register</a></li>
    </ul>
  </nav>
</header>
